<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Exams</title>
  </head>
  <body>
    <form action="logout/" method="POST">
		    {% csrf_token %}
        <input type="submit" value="Logout"/>
    </form>
    {% if latest_exam_list %}
        <ul>
        {% for exam in latest_exam_list %}
            <li><form action="exam/" method="POST">
                {% csrf_token %}
                {{exam.name_text}}
                <input type="hidden" name="exam_id" value="{{exam.id}}" />
                <input type="hidden" name="question_counter" value="1" />
                <input type="submit" value="Start"/>
            </form></li>
        </ul>
        {% endfor %}
    {% else %}
        <p>No exams are available.</p>
    {% endif %}
  </body>
</html>
